<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration"  targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder"  targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json"  targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions"  targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing"  targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" targetFramework="net472" />
  <package id="System.Buffers"  targetFramework="net48" />
  <package id="System.IO.Pipelines"  targetFramework="net472" />
  <package id="System.Memory"  targetFramework="net48" />
  <package id="System.Numerics.Vectors"  targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe"  targetFramework="net48" />
  <package id="System.Text.Encodings.Web" targetFramework="net472" />
  <package id="System.Text.Json" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions"  targetFramework="net48" />
  <package id="System.ValueTuple" targetFramework="net48" />

	<!--<package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.9" targetFramework="net472" />
	<package id="Microsoft.Extensions.Configuration" version="9.0.9" targetFramework="net472" />
	<package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.9" targetFramework="net472" />
	<package id="Microsoft.Extensions.Configuration.Binder" version="9.0.9" targetFramework="net472" />
	<package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.9" targetFramework="net472" />
	<package id="Microsoft.Extensions.Configuration.Json" version="9.0.9" targetFramework="net472" />
	<package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.9" targetFramework="net472" />
	<package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.9" targetFramework="net472" />
	<package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.9" targetFramework="net472" />
	<package id="Microsoft.Extensions.Primitives" version="9.0.9" targetFramework="net472" />
	<package id="System.Buffers" version="4.6.1" targetFramework="net48" />
	<package id="System.IO.Pipelines" version="9.0.9" targetFramework="net472" />
	<package id="System.Memory" version="4.6.3" targetFramework="net48" />
	<package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
	<package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
	<package id="System.Text.Encodings.Web" version="9.0.9" targetFramework="net472" />
	<package id="System.Text.Json" version="9.0.9" targetFramework="net472" />
	<package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
	<package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />-->
</packages>